---
import { createClient } from "@supabase/supabase-js";
import "dotenv/config";

const db = process.env.DB;
const op = {
  auth: {
    persistSession: false,
  },
};

const supabase = createClient(
  process.env.SUPABASE_URL,
  process.env.SUPABASE_KEY,
  op
);

interface Props {
  title: string;
  href: string;
}

const { data, error } = await supabase.from("anime").select();

const { title, href } = Astro.props;
---

<div>
  <h2>{title}</h2>
  <ul>
    {
      data.map((data) => (
        <li>
          {data.id}
          {data.title}
        </li>
      ))
    }
  </ul>
</div>
